<md-content layout-padding ng-cloak>
    <h2>Lista de Libros</h2>
    <div layout="row">
        <div flex>
            <md-input-container>
                <label>Título</label>
                <input ng-model="vm.currentAuthor">
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>Autores</label>
                <input ng-model="vm.book.title">
            </md-input-container>
        </div>
        <div flex-gt-xs>
            <md-datepicker ng-model="vm.book.edition" md-placeholder="Edición"></md-datepicker>
        </div>
        
    </div>
    <div layout="row">
        
        
    </div>
    <div layout="row">
        <table>
            <tr>
                <th>Título</th>
                <th>Edicion</th>
                <th>Autores</th>
            </tr>
            <tr ng-repeat="book in vm.bookList()">
                <td>{{book.title}}</td>
                <td>{{book.edition}}</td>
                <td>{{book.authors.length}}</td>
            </tr>
      </table>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="vm.showPrompt($event)">Guardar nuevo libro</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.showPrompt($event)">Editar seleccionado</md-button>
    </section>
</md-content>